<h1>Register Page</h1>

<form action="/Home/Register" method="post">

    <div>
        <label>Username</label>
        <input type="text" name="username" value="" />
    </div>


    <div>
        <label>Email</label>
        <input type="text" name="email" value="" />
    </div>
    <div>
        <label>Password</label>
        <input type="text" name="password" value="" />
    </div>

    <button type="submit">Login</button>
</form>